body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

#navbar {
  width: 100%;
  background-color: rgb(244, 247, 247);
  height: 80px;
  display: flex;
  align-items: center;

}

nav img {
  margin: 0%;
  padding-left: 40px;
  width: 150px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 10px 10px;
}

#navItems {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.anchor {
  display: flex;
  align-items: center;
  padding: 50px;
}

.anchor a {
  padding: 20px;
  text-decoration: none;
}

#demo {
  background-color: darkblue;
  color: white;
  border-radius: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
}

.intro {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#upper {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;


}

#lower {
  width: 40%;
  height: 50%;
  padding-left: 100px;
  padding-top: 50px;
}


#content {
  width: 100%;
  height: 200px;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.btn {
  background-color: #cbcbcb;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px 20px;
  border-radius: 70px;
  margin: 10px;
}

button {
  margin: 10px;
  border: 30px;
  border-radius: 70px;
  width: 200px;
  height: 50px;
  background-color: #003049;
  color: beige;

}

#footer {
  width: 100%;
  height: 300px;
  background-color: #f4f4f4;
  margin-top: 1000px;
  display: flex;
}

#footer-left {
  width: 50%;
 padding-left: 20px;
 padding-top: 10px;
 
}
#footer-left img{
  height: 50px;
}

#footer-right {
  width: 50%;
  
  
  display: flex;
  
  
}
#footer-right div{
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-left: 50px;
  padding-top: 50px;
}
#lastbar{
  width: 100%;
  background-color: #003049;
  display: flex;
  justify-content: center;
  color: white;
  padding: 20px;
}